<div class="container-fluid">
    <h1>Your eBay Shopping Cart</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="row well" data-ng-repeat="item in cartedItems">
                <div class="col-md-6">
                    <div>
                        <div>{{item.itemName}}</div>
                        <div>{{item.itemPrice}}</div>
                        <div>{{item.itemDesc}}</div>
                        <div>{{item.posted_by}}</div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <button class="btn btn-success" type="button" ng-click="" tabindex="3">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;Proceed to Checkout
            </button>
        </div>
    </div>
</div>
