<!-- Start of Web Content-->
<div class="container" >
    <div class="row row-centered">
        <img src="images/ebay-logo.jpg" class="img-rounded">
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs nav-justified">
                <li ui-sref-active="active"><a href ui-sref="register">Register</a></li>
                <li ui-sref-active="active"><a href ui-sref="login">Login</a></li>
            </ul>
            <div ui-view="register"></div>
            <div ui-view="login"></div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>