<!DOCTYPE html>
<html>
<head>
    <title>Sign in or Register | eBay</title>
    <script src="angularjs/ang_login.js"></script>
</head>
<body ng-controller="LoginController">
<div class="container" >
    <div class="row row-centered">
        <img src="images/ebay-logo.jpg" class="img-rounded">
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs nav-justified">
                <li ui-sref-active="active"><a href ui-sref="register">Register</a></li>
                <li ui-sref-active="active"><a href ui-sref="login">Login</a></li>
            </ul>
            <div>
                <input type="text" name="username" data-ng-model="username" placeholder="Email or username">
            </div>
            <div>
                <input type="password" name="password" data-ng-model="password" placeholder="Password">
            </div>
            <div class="alert alert-danger" data-ng-hide="invalid_login">
                <strong>Incorrect username or password</strong>
            </div>
            <div class="alert alert-danger" data-ng-hide="unexpected_error">
                <strong>Unexpected error, try again</strong>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" ng-click="loginToEbay();" value="Sign in" />

            <div >
                <div ui-view=""> </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

</body>
</html>