<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
        <li ui-sref-active="active"><a href ui-sref=".about"><span>About</span></a></li>
        <li ui-sref-active="active"><a href ui-sref=".orderhistory"><span>Order History</span></a></li>
        <li ui-sref-active="active"><a href ui-sref=".soldhistory"><span>Sold History</span></a></li>
        <li ui-sref-active="active"><a href ui-sref=".bidhistory"><span>Bid History</span></a></li>
    </ul>
    <ui-view></ui-view>
</div>