<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
    <title>Sign in or Register | eBay</title>
</head>
<body data-ng-app="eBayApp">
<div ui-view=""> </div>
<!-- Start of Footer-->
<footer style="text-align: center" >
    <div class="container">
        <p>This is an ebay marketplace replica.</p>
    </div>
</footer>
<!--End of Footer-->
</body>
</html>